<html>
<head>
  <title>Puss....In Boots</title>
  <link rel="stylesheet" type="tect/css" href="style.css">
</head>

<body>
  <h1>"Hi there, <%= ["Amigo", "John", "Kevin"].sample %>!"</h1>
    <img class="bordered" src="https://vignette3.wikia.nocookie.net/shrek/images/3/39/Puss-in-boots.png/revision/latest?cb=20110317184950">
</body>
</html>
